/* width large contain >> ------------------------------------------------*/
.contain-1100, .contain-1120, .contain-1080, .contain-1040,
.contain-1020, .contain-800, .contain-400, .contain-500,
.contain-300, .contain-200, .contain-100, .width-100per, .width-40per, .width-50per,
.width-10per, .width-15per, .width-20per, .width-25per, .width-30per,.width-35per, .width-45per, .width-60per,
.width-70per, .width-75per, .width-80per, .width-85per, .width-90per, .width-93per, .width-95per {
    float: left;
    display: inline;
}

.contain-1120 {
    width: 1120px;
}

.contain-1100 {
    width: 1100px;
}

.contain-1080 {
    width: 1080px;
}

.contain-1040 {
    width: 1040px;
}

.contain-1020 {
    width: 1020px;
}

.contain-500 {
    width: 500px;
}

.contain-800 {
    width: 800px;
}

.contain-400 {
    width: 400px;
}

.contain-300 {
    width: 300px;
}

.contain-200 {
    width: 200px;
}

.contain-100 {
    width: 100px;
}

.width-100per {
    width: 100%;
}

.width-50per {
    width: 50%;
}

.width-40per {
    width: 40%;
}

.width-10per {
    width: 10%;
}

.width-15per {
    width: 15%;
}

.width-20per {
    width: 20%;
}

.width-25per {
    width: 25%;
}

.width-30per {
    width: 30%;
}
.width-35per {
    width: 35%;
}
.width-45per {
    width: 45%;
}

.width-60per {
    width: 60%;
}

.width-70per {
    width: 70%;
}

.width-75per {
    width: 75%;
}

.width-85per {
    width: 85%;
}

.width-80per {
    width: 80%;
}

.width-90per {
    width: 90%;
}

.width-93per {
    width: 93%;
}

.width-95per {
    width: 95%;
}

.m-textbox1, .m-textbox2,
.m-textbox3, .m-textbox4, .m-textbox5, .m-textbox6, .m-textbox7,
.m-textbox8, .m-textbox9, .m-textbox10, .m-textbox-10per, .m-textbox-15per,
.m-textbox-20per, .m-textbox-25per, .m-textbox-30per, .m-textbox-35per,.m-textbox-40per,.m-textbox-45per,
.m-textbox-50per, .m-textbox-60per, .m-textbox-70per,
.m-textbox-80per, .m-textbox-90per, .m-textbox-95per, .m-textbox-100per {
    float: left;
    display: inline;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 4px;
    padding: 2px .3em;
    height: 1.3em;
    line-height: 1.6em;
    border: 1px solid #ccc;
}

.m-label1, .m-label2, .m-label3, .m-label4, .m-label5, .m-label6,
.m-label7, .m-label8, .m-label9, .m-label10 {
    float: left;
    display: inline;
    margin-right: 5px;
    margin-left: 5px;
    padding-left: 0;
    padding-right: 0;
}

.m-label1 {
    width: 50px;
}

.m-label2 {
    width: 100px;
}

.m-label3 {
    width: 150px;
}

.m-label4 {
    width: 200px;
}

.m-label5 {
    width: 250px;
}

.m-label6 {
    width: 300px;
}

.m-label7 {
    width: 350px;
}

.m-label8 {
    width: 400px;
}

.m-label9 {
    width: 450px;
}

.m-label10 {
    width: 500px;
}

.m-textbox1 {
    width: 50px;
}

.m-textbox2 {
    width: 100px;
}

.m-textbox3 {
    width: 150px;
}

.m-textbox4 {
    width: 200px;
}

.m-textbox5 {
    width: 250px;
}

.m-textbox6 {
    width: 300px;
}

.m-textbox7 {
    width: 350px;
}

.m-textbox8 {
    width: 400px;
}

.m-textbox9 {
    width: 450px;
}

.m-textbox10 {
    width: 500px;
}

.m-textbox-10per {
    width: 10%;
}

.m-textbox-15per {
    width: 15%;
}

.m-textbox-20per {
    width: 20%;
}

.m-textbox-25per {
    width: 25%;
}

.m-textbox-30per {
    width: 30%;
}

.m-textbox-35per {
    width: 35%;
}
.m-textbox-40per {
    width: 40%;
}
.m-textbox-55per {
    width: 45%;
}
.m-textbox-50per {
    width: 50%;
}

.m-textbox-60per {
    width: 60%;
}

.m-textbox-70per {
    width: 70%;
}

.m-textbox-80per {
    width: 80%;
}

.m-textbox-90per {
    width: 90%;
}

.m-textbox-95per {
    width: 95%;
}

.m-textbox-100per {
    width: 100%;
}
/* Radio >> ------------------------------------------------*/
.m-radio1, .m-radio2 {
    float: left;
    display: inline;
}

.m-radio1 {
    width: 15px;
}

.m-radio2 {
    width: 20px;
}
/* Height >> ------------------------------------------------*/
.height20 {
    height: 20px;
}

.height30 {
    height: 30px;
}

.height40 {
    height: 40px;
}

.height50 {
    height: 50px;
}

.height60 {
    height: 60px;
}

.height70 {
    height: 70px;
}

.height80 {
    height: 80px;
}

.height100 {
    height: 100px;
}

.height200 {
    height: 200px;
}

.height300 {
    height: 300px;
}
/* Padding >> ------------------------------------------------*/
.padding-lef-right1,
.padding-lef-right2,
.padding-lef-right3,
.padding-lef-right4,
.padding-lef-right5,
.padding-lef-right6,
.padding-bot-top1,
.padding-bot-top2,
.padding-bot-top3,
.padding-bot-top4,
.padding-bot-top5 {
    float: left;
    display: inline;
}

.padding-bot-top1 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.padding-bot-top2 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.padding-bot-top3 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.padding-bot-top4 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.padding-bot-top5 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.padding-lef-right1 {
    padding-left: 10px;
    padding-right: 10px;
}

.padding-lef-right2 {
    padding-left: 20px;
    padding-right: 20px;
}

.padding-lef-right3 {
    padding-left: 30px;
    padding-right: 30px;
}

.padding-lef-right4 {
    padding-left: 40px;
    padding-right: 40px;
}

.padding-lef-right5 {
    padding-left: 50px;
    padding-right: 50px;
}

.padding-lef-right6 {
    padding-left: 60px;
    padding-right: 60px;
}

.padding0 {
    padding: 0;
}
/* Margin >> ------------------------------------------------*/
.margin0 {
    margin: 0 !important;
}

.margin-left5 {
    margin-left: 5px;
}

.margin-left10 {
    margin-left: 10px;
}

.margin-left15 {
    margin-left: 15px;
}

.margin-left20 {
    margin-left: 20px;
}

.margin-left25 {
    margin-left: 25px;
}

.margin-left30 {
    margin-left: 30px;
}

.margin-left35 {
    margin-left: 35px;
}

.margin-right5 {
    margin-right: 5px;
}

.margin-right10 {
    margin-right: 10px;
}

.margin-right15 {
    margin-right: 15px;
}

.margin-right20 {
    margin-right: 20px;
}

.margin-right25 {
    margin-right: 25px;
}
/* Margin-bottom >> ------------------------------------------------*/

.margin-bot1 {
    margin-bottom: 1px;
}

.margin-bot5 {
    margin-bottom: 5px;
}

.margin-bot10 {
   margin-bottom: 10px;
}

.margin-bot15 {
   margin-bottom: 15px;
}

.margin-bot20 {
    margin-bottom: 20px;
}

.margin-bot {
    margin-bottom: 25px;
}

.margin-bot30 {
    margin-bottom: 30px;
}

.margin-bot35 {
    margin-bottom: 35px;
}


/* Margin -right>> ------------------------------------------------*/
.margin-right30 {
    margin-right: 30px;
}

.margin-top1 {
    margin-top: 1px;
}

.margin-top5 {
    margin-top: 5px;
}

.margin-top10 {
    margin-top: 10px;
}

.margin-top15 {
    margin-top: 15px;
}

.margin-top20 {
    margin-top: 20px;
}

.margin-top25 {
    margin-top: 25px;
}

.margin-top30 {
    margin-top: 30px;
}
/* Border >> ------------------------------------------------*/
.border-form {
    border: 1px solid #cccccc;
}
.border-top {
    border-top: 1px solid #ccc;
}
.border-radi4 {
    border-radius: 4px;
}

.border-radi2 {
    border-radius: 2px;
}

.border-radi6 {
    border-radius: 6px;
}

.border-radi8 {
    border-radius: 8px;
}

.border-radi10 {
    border-radius: 10px;
}
.border-bottom {
    border-bottom: 1px solid #ccc;
}
.radi4-top-left {
    border-top-left-radius: 4px;
}

.radi4-top-right {
    border-top-right-radius: 4px;
}

.radi4-bottom-left {
    border-bottom-left-radius: 4px;
}

.radi4-bottom-right {
    border-bottom-right-radius: 4px;
}
.overflo {
    overflow: hidden;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
/* Color >> ------------------------------------------------*/
.color-red {
    color: red;
}

.color-gray {
    color: gray;
}

.color-white {
    color: white;
}
/* `Pull Space >> ------------------------------------------------*/
.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11,
.push_12, .pull_12,
.push_13, .pull_13,
.push_14, .pull_14,
.push_15, .pull_15 {
    position: relative;
}

.pull_1 {
    left: -60px;
}

.pull_2 {
    left: -120px;
}

.pull_3 {
    left: -180px;
}

.pull_5 {
    left: -300px;
}

.pull_6 {
    left: -360px;
}

.pull_7 {
    left: -420px;
}

.pull_9 {
    left: -540px;
}

.pull_10 {
    left: -600px;
}

.pull_11 {
    left: -660px;
}

.pull_13 {
    left: -780px;
}

.pull_14 {
    left: -840px;
}

.pull_15 {
    left: -900px;
}
/* Push Space >> ------------------------------------------------*/
.push_1 {
    left: 60px;
}

.push_2 {
    left: 120px;
}

.push_3 {
    left: 180px;
}

.push_5 {
    left: 300px;
}

.push_6 {
    left: 360px;
}

.push_7 {
    left: 420px;
}

.push_9 {
    left: 540px;
}

.push_10 {
    left: 600px;
}

.push_11 {
    left: 660px;
}

.push_13 {
    left: 780px;
}

.push_14 {
    left: 840px;
}

.push_15 {
    left: 900px;
}
/* Center >> ------------------------------------------------*/
.center-div {
    text-align: center;
}

.center-image {
    vertical-align: middle;
    display: table-cell;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: middle;
    float: none;
}
/* Font style >> ------------------------------------------------*/
.font1-percent {
    font-size: 100%;
}

.font1-px {
    font-size: 11px;
}
/* Clear >> ------------------------------------------------*/
.m-clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}



.text-upper {
    text-transform: uppercase;
}

.font-bold {
    font-weight: bold;
}

.line-height15 {
    line-height: 15px;
}

.line-hieght21 {
    line-height: 21px;
}

.line-hieght30 {
    line-height: 30px;
}
.line-hieght35 {
    line-height: 35px;
}
label {
    font-size: 1em;
}

.backgroun-gray {
    background-color: #F5F5F5;
}

.backgroun-white {
    background-color: white;
}

.float-right-important {
    float: right !important;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.caption {
    font-size: 12px;
    border: 1px solid #ccc;
    background-color: #eee;
    color: #888;
    padding: 3px;
    margin-bottom: 0.5em;
    display: block;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

.side-list {
    width: 150px;
    float: left;
    margin-right: 20px;
    border-right: 1px dotted #ccc;
}

.selected {
    background-color: #693 /*#316ac5*/ !important;
    color: #fff !important;
}

.bold {
    font-weight: bold;
}

.contain-150 {
    float: left;
    width: 150px;
}

.contain-110 {
    float: left;
    width: 110px;
}

.contain-290 {
    float: left;
    width: 290px;
}
ul li {
    list-style: none;
}
.display-none {
    display: none;
}