<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="TPF_Configuration" type="TPF.Configurations.TPFConfigSection, TPF.Configurations, Version=1.0.0.0, Culture=neutral" restartOnExternalChanges="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Royalty.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>

    <add name="THIENHUYNHDBEntities" connectionString="metadata=res://*/Models.DataBaseModel.csdl|res://*/Models.DataBaseModel.ssdl|res://*/Models.DataBaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=THIEN;initial catalog=THIENHUYNHDB;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <globalization uiCulture="en-AU" culture="en-AU" />
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" maxRequestLength="35000" />
    <authentication mode="Forms">
      <!-- The name, protection, and path attributes must match 
           exactly in each Web.config file.domain=".tpf.com.au" -->
      <forms name="TpfSystem"
             path="/"
             loginUrl="~/Account/Login"
             defaultUrl="~/Account/Login"
             cookieless="UseCookies"
             timeout="2880"
             enableCrossAppRedirects="true"
             requireSSL="false" protection="All"
             />
    </authentication>
    <!--Link generate: http://aspnetresources.com/tools/machineKey -->
    <machineKey validationKey="AC7A2B7BCC22DCDA8C81DECAD64271B2FAF950CDC96991C18579EFE56B2E9648906F4276FD140BE6F77A3EDC93BB03C690E9036496D55DA62F4548A2CFBA82F4"
                decryptionKey="A2BC355DCF44E111419DFBD7357853F6D39AAA5DE765D47C8153782A40A184D7"
                validation="SHA1" decryption="AES" />

    <!--<pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>-->
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebMatrix.WebData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebMatrix.Data" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.1.0" newVersion="5.5.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itextsharp.xmlworker" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.1.0" newVersion="5.5.1.0" />
      </dependentAssembly>
    </assemblyBinding>
    <legacyHMACWarning enabled="0" />
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <log4net>
    <logger name="DefaultLogger">
      <appender-ref ref="DefaultLogger" />
    </logger>
    <appender name="DefaultLogger" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\\Default\\Log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="5MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
    </root>
  </log4net>
  <!--<system.net>
		<defaultProxy enabled="true" />
		<settings>
			-->
  <!-- This setting causes .NET to check certificate revocation lists (CRL) 
			     before trusting HTTPS certificates.  But this setting tends to not 
			     be allowed in shared hosting environments. -->
  <!--
			-->
  <!--<servicePointManager checkCertificateRevocationList="true"/>-->
  <!--
		</settings>
	</system.net>-->
  <!--<dotNetOpenAuth>
		<messaging>
			<untrustedWebRequest>
				<whitelistHosts>
					-->
  <!-- Uncomment to enable communication with localhost (should generally not activate in production!) -->
  <!--
					-->
  <!--<add name="localhost" />-->
  <!--
				</whitelistHosts>
			</untrustedWebRequest>
		</messaging>
		-->
  <!-- Allow DotNetOpenAuth to publish usage statistics to library authors to improve the library. -->
  <!--
		<reporting enabled="true" />
	</dotNetOpenAuth>-->
  <applicationSettings>
    <Royalty.Web.Properties.Settings>
      <setting name="FileAttachmentPath" serializeAs="String">
        <value>~/Resources/FileAttachment/</value>
      </setting>
      <setting name="ContractPartyAvatarPath" serializeAs="String">
        <value>~/Resources/AvatarContractParty/</value>
      </setting>
      <setting name="ContractPartyAvatarPathTemp" serializeAs="String">
        <value>~/Resources/AvatarContractParty/Temp/</value>
      </setting>
      <setting name="FileAttachmentPathTemp" serializeAs="String">
        <value>~/Resources/FileAttachment/Temp/</value>
      </setting>
      <setting name="FileAttachmentSubmission" serializeAs="String">
        <value>~/Resources/FileAttachmentSubmission/</value>
      </setting>
      <setting name="FileAttachmentSubmissionTemp" serializeAs="String">
        <value>~/Resources/FileAttachmentSubmission/Temp/</value>
      </setting>
    </Royalty.Web.Properties.Settings>
  </applicationSettings>
</configuration>